@import "tailwindcss";

@keyframes fall {
  0% {
    transform: translateY(0) scaleY(1);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) scaleY(0.2);
    opacity: 0;
  }
}

.animate-fall {
  animation: fall 3s linear infinite;
}
/* .logo {
  animation: glow 2s infinite alternate;
} */ 

/* @keyframes slideUp {
  0% { transform: translateY(50px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

.logo {
  animation: slideUp 1.5s ease-in-out;
} */
/* span {
  background-size: 400% 100%;
  animation: shimmer 3s linear infinite;
}
 @keyframes shimmer {
  0% { background-position: -200%; }
  100% { background-position: 200%; }
}
 */

html, body {
  scroll-behavior: smooth;
  will-change: scroll-position;
  backface-visibility: hidden;
  transform: translateZ(0);
  perspective: 1000px;
  -webkit-overflow-scrolling: touch;
}